<%- include('layout') %>

<title><%= title %></title>
<%- include('navbar') %>

<div class="container">
    <div class="row">
        <div class="col-md-3 col-10 mt-2 d-flex flex-column ">
            <div class="ms-3">
                <img src="<%= book.image %>" alt="<%= book.title %>" class="image" style="width: 65%;">
            </div>
        </div>

        <div class="col-md-7">
            <div class="mb-1" style="font-family: Georgia, serif; font-weight: 600; font-size: 36px; line-height: 46px; color: #1e1915;">
                    <%= book.title %>
            </div>
            <div class="mb-1">
                <a class="text-decoration-none" href="" style="font-family: Georgia, serif; font-weight: 400; font-size: 20px; line-height: 28px; color: #1e1915;">
                    <%= book.author %>
                </a>
            </div>
            <div class="d-flex align-items-center ">
                
                
                
                <div class="d-flex align-items-center justify-content-center">
                    
                    <div class="ms-2" style="font-family: Arial, sans-serif; font-weight: 400; font-size: 14px; line-height: 19px; color: #707070;">
                        2,685 reviews
                    </div>
                </div>  
            </div>
            <div class="description-container" id="description-container-<%= book._id %>" style="font-family: Arial, sans-serif; font-weight: 400; font-size: 16px; line-height: 22px; color: #1e1915;">
                <p class="mb-2 short-description">
                    <%- book.description %>
                </p>
                <div class="show-more-button">
                    <a style="font-weight: 600; font-size: 14px; line-height: 20px; color: #1e1915;" class="text-decoration-none show-more-link" data-book-id="<%= book._id %>" href="#">
                        Show more &#9662;
                    </a>
                </div>
            </div>
            <div class="d-flex align-items-center mt-3">
                <div style="font-family: Arial, sans-serif; font-weight: 400; font-size: 14px; line-height: 18px; color: #707070;">Genres:</div>
                <% book.genre.forEach(function(genre) { %>
                    <div class="ms-2" style="font-family: Arial, sans-serif; font-weight: 600; font-size: 14px; line-height: 20px;">
                        <a class="genre-link" href="/genre/<%= genre %>" style="color: #1e1915; text-decoration: underline; text-decoration-color: #409970; text-decoration-thickness: 2px;">
                            <%= genre %>
                        </a>
                    </div>
                <% }); %>
            </div>
            <div class="mt-2" style="font-family: Arial, sans-serif; font-weight: 400; font-size: 14px; line-height: 18px; color: #707070;"><%= book.pages %> pages, <%= book.mediaType %></div>
            <div class="mt-2" style="font-family: Arial, sans-serif; font-weight: 400; font-size: 14px; line-height: 18px; color: #707070;">
                First published <%= new Date(book.publishedDate).toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) %>
            </div>
            <hr>
            
            <div style="font-family: Georgia, serif; font-style: italic; font-weight: 600; font-size: 28px; line-height: 38px; color: #1e1915;">Reviews</div>
            <div class="d-flex align-items-center justify-content-center">
                <div class="mt-5" style="font-family: Georgia, serif; font-style: italic; font-weight: 600; font-size: 32px; line-height: 46px; color: #1e1915;">
                    What do you think?
                </div>
                
            </div>
            <div class="d-flex row align-items-center justify-content-center">
                    <a href="<%= loggedIn ? `/write_review/${book._id}` : '/signup' %>"  class="btn mb-2" style="background-color: #1e1915; color: #ffffff; border-radius: 20%; width: 50%;">
                    Write a Review
                </a>
                <hr>
            </div>
            <div style="font-family: Georgia, serif; font-weight: 600; font-size: 20px; line-height: 28px; color: #1e1915;">
                Community Reviews
            </div>
            
                        
            <div class="search-filter-container mt-2">
                <div class="search-input">
                    <i class="bi bi-search"></i>
                    <input type="text" placeholder="Search review text">
                </div>
                <button class="filter-button">
                    <i class="bi bi-funnel"></i> Filters
                </button>
            </div>
            <div class="ms-3" style="font-family: Arial, sans-serif; font-weight: 400; font-size: 14px; line-height: 19px; color: #707070;">
                Displaying 1 - 30 of 2,766 reviews
            </div>
            <% if (reviews && reviews.length > 0) { %>
                <% reviews.forEach(review => { %>
                    <div class="row mt-3">
                        <div class="col-2">
                            <img src="https://images.gr-assets.com/users/1714842419p6/154684875.jpg" style="border-radius: 50%; width: 60%; object-fit: contain;" >
                            <div style="font-family: Georgia, serif; font-weight: 600; font-size: 14px; line-height: 20px; color: #1e1915;">
                                <!-- User name or any other information related to the review -->
                            </div>
                            <div class="" style="font-family: Arial, sans-serif; font-weight: 400; font-size: 14px; line-height: 19px; color: #707070;">
                                <!-- Number of reviews or any other information related to the review -->
                            </div>
                        </div>
                        <div class="col-10">
                            <!-- Render the review content -->
                            <%- review.content %>
                        </div>
                    </div>
                <% }) %>
            <% } %>
                
                <div class="col-10">
                    <div class="d-flex justify-content-between">
                        <div class="">
                            <% for (let i = 0; i < 5; i++) { %>
                                <i class="bi bi-star fs-6"></i>
                            <% } %>
                        </div>
                        <div>
                            September 4, 2023
                        </div>
                    </div>
                    <div class="mt-2" style="font-family: Arial, sans-serif; font-weight: 400; font-size: 16px; line-height: 23px; color: #1e1915;">
                        this summer will NOT be different if there’s another cheating trope…carley, side EYE. besties keep me posted when this comes out😂thanks😙

                        ps: i don’t actually wanna read this🫣🫣🫣
                    </div>
                    <div class="mt-2" style="font-family: Arial, sans-serif; font-weight: 400; font-size: 14px; line-height: 19px; color: #707070;">
                        335 likes 27 comments
                    </div>
                    <div class="mt-2" style="font-family: Arial, sans-serif; font-weight: 600; font-size: 14px; line-height: 20px; color: #1e1915;">
                    <i class="bi bi-hand-thumbs-up"></i> Like
                    <i class="bi bi-chat ms-3"></i> Comment
                    </div>
                <hr>
                </div>
                <div class="col-2">
                    <img src="https://images.gr-assets.com/users/1714842419p6/154684875.jpg" style="border-radius: 50%; width: 60%; object-fit: contain;" >
                        <div style="font-family: Georgia, serif; font-weight: 600; font-size: 14px; line-height: 20px; color: #1e1915;">Nilufer Ozmekik</div>
                        <div class="" style="font-family: Arial, sans-serif; font-weight: 400; font-size: 14px; line-height: 19px; color: #707070;">
                            2,544 reviews
                        </div>
                </div>
                  
                <div class="col-10">
                    <div class="d-flex justify-content-between">
                        <div class="">
                            <% for (let i = 0; i < 5; i++) { %>
                                <i class="bi bi-star fs-6"></i>
                            <% } %>
                        </div>
                        <div>
                            September 4, 2023
                        </div>
                    </div>
                    <div class="mt-2" style="font-family: Arial, sans-serif; font-weight: 400; font-size: 16px; line-height: 23px; color: #1e1915;">
                        this summer will NOT be different if there’s another cheating trope…carley, side EYE. besties keep me posted when this comes out😂thanks😙

                        ps: i don’t actually wanna read this🫣🫣🫣
                    </div>
                    <div class="mt-2" style="font-family: Arial, sans-serif; font-weight: 400; font-size: 14px; line-height: 19px; color: #707070;">
                        335 likes 27 comments
                    </div>
                    <div class="mt-2" style="font-family: Arial, sans-serif; font-weight: 600; font-size: 14px; line-height: 20px; color: #1e1915;">
                    <i class="bi bi-hand-thumbs-up"></i> Like
                    <i class="bi bi-chat ms-3"></i> Comment
                    </div>
                <hr>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <!-- Horizontal line to the left -->
                    <hr class="flex-grow-1 mr-3" style="border-top: 2px solid #767676;">
                    <div style="font-family: Arial, sans-serif; font-weight: 600; font-size: 14px; line-height: 20px; color: #1e1915;">More Reviews and ratings ></div>
                    <!-- Horizontal line to the right -->
                    <hr class="flex-grow-1 ml-3" style="border-top: 2px solid #767676;">
                </div>
            </div>
        </div>

        <div class="col-md-2 d-flex ">
            <div class="ms-auto">
                <i class="bi bi-share fs-2"></i>
            </div>
            
        </div>
    </div>
</div>

