<%- include('layout') %>

<title><%= title %></title>
<%- include('navbar') %>

<div class="container" style="width: 70%;">
    <div class="row">
        <div class="col-md-8">
            <div class="mt-2" style="font-family: Georgia, 'Times New Roman', serif; font-weight: 700; font-size: 24px; line-height: 24px; color: #382110;">
                <% 
                // Capitalize the first letter of the genre
                const capitalizedGenre = title.charAt(0).toUpperCase() + title.slice(1);
                %>
                <%= capitalizedGenre %>
            </div>
            <div class="mt-4" style="font-family: Helvetica, Arial, sans-serif; font-weight: 400; font-size: 14px; line-height: 18px; color: #181818;">
                <%- description %>
            </div>
            <hr>
            <div class="row">
                <% books.forEach(book => { %>
                    <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
                        <a href="/book/<%= book._id %>/details">
                            <img src="<%= book.image %>" class="img-fluid rounded" alt="<%= book.title %>">
                        </a>
                        
                    </div>
                <% }); %>
            </div>
        </div>
        <div class="col-md-4 mt-5">
            <div style="font-family: Helvetica, Arial, sans-serif; font-weight: 700; font-size: 12px; line-height: 24px; color: #382110;">
                Other Genres
            </div>
            <hr>
            <div class="d-flex">
                <% allGenres.forEach(genre => { %>
                    <div class="ms-2" style="font-family: Helvetica, Arial, sans-serif; font-weight: 400; font-size: 12px; line-height: 18px; color: #00635d;">
                        <a href="/genre/<%= genre.name %>" style="text-decoration: none; color: #00635d;"><%= genre.name %></a>
                    </div>
                <% }); %>
            </div>
            
        </div>
    </div>
</div>