<%- include('layout') %>

<title><%= title %></title>
<%- include('navbar') %>

<div class="container " style="width: 70%;">
    <div class="row">
        <div class="col-md-8">
            <div class="mt-2" style="font-family: Georgia, 'Times New Roman', serif; font-weight: 700; font-size: 24px; line-height: 24px; color: #382110;">
                <% 
                // Capitalize the first letter of the genre
                const capitalizedGenre = title.charAt(0).toUpperCase() + title.slice(1);
                %>
                <%= capitalizedGenre %>
            </div>
            <div class="mt-4" style="font-family: Helvetica, Arial, sans-serif; font-weight: 400; font-size: 14px; line-height: 18px; color: #181818;">
                <%- description %>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-2">
                    <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1706564543l/195430687._SY475_.jpg" style="height: 200px; width: 100%;">
                </div>
                <div class="col-md-2">
                    <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1706564543l/195430687._SY475_.jpg" style="height: 200px; width: 100%;">
                </div>
                <div class="col-md-2">
                    <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1706564543l/195430687._SY475_.jpg" style="height: 200px; width: 100%;">
                </div>
                <div class="col-md-2">
                    <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1706564543l/195430687._SY475_.jpg" style="height: 200px; width: 100%;">
                </div>
                <div class="col-md-2">
                    <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1706564543l/195430687._SY475_.jpg" style="height: 200px; width: 100%;">
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1706564543l/195430687._SY475_.jpg" style="height: 200px; width: 100%;">
                </div>
                <div class="col-md-2">
                    <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1706564543l/195430687._SY475_.jpg" style="height: 200px; width: 100%;">
                </div>
                <div class="col-md-2">
                    <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1706564543l/195430687._SY475_.jpg" style="height: 200px; width: 100%;">
                </div>
                <div class="col-md-2">
                    <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1706564543l/195430687._SY475_.jpg" style="height: 200px; width: 100%;">
                </div>
                <div class="col-md-2">
                    <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1706564543l/195430687._SY475_.jpg" style="height: 200px; width: 100%;">
                </div>
            </div>            
        </div>
        <div class="col-md-4 mt-5">
            <div style="font-family: Helvetica, Arial, sans-serif; font-weight: 700; font-size: 12px; line-height: 24px; color: #382110;">
                Other Genres
            </div>
            <hr>
            <div class="d-flex">
                <div class="ms-2" style="font-family: Helvetica, Arial, sans-serif; font-weight: 400; font-size: 12px; line-height: 18px; color: #00635d;">
                    Fiction
                </div>
                <div class="ms-2" style="font-family: Helvetica, Arial, sans-serif; font-weight: 400; font-size: 12px; line-height: 18px; color: #00635d;">
                    Fiction
                </div>
                <div class="ms-2" style="font-family: Helvetica, Arial, sans-serif; font-weight: 400; font-size: 12px; line-height: 18px; color: #00635d;">
                    Fiction
                </div>
                <div class="ms-2" style="font-family: Helvetica, Arial, sans-serif; font-weight: 400; font-size: 12px; line-height: 18px; color: #00635d;">
                    Fiction
                </div>
                <div class="ms-2" style="font-family: Helvetica, Arial, sans-serif; font-weight: 400; font-size: 12px; line-height: 18px; color: #00635d;">
                    Fiction
                </div>
                <div class="ms-2" style="font-family: Helvetica, Arial, sans-serif; font-weight: 400; font-size: 12px; line-height: 18px; color: #00635d;">
                    Fiction
                </div>
            </div>
            <div class="mt-5" style="font-family: Helvetica, Arial, sans-serif; font-weight: 700; font-size: 12px; line-height: 24px; color: #382110;">
                QUOTES TAGGED “CONTEMPORARY”
            </div>
            <hr>
            <div class="d-flex">
                <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/authors/1487896613i/4868409._CR12,0,200,200_.jpg" style="border-radius: 50%; width: 20%; object-fit: contain;" >
                <div class="ms-2" style="font-family: Georgia, serif; font-weight: 400; font-size: 14px; line-height: 24px; color: #181818;">
                    “ Please. Forgive me. One more chance, Blaire. I want this. I want you. ”
                </div>
            </div>
            <div style="font-family: Helvetica, sans-serif; font-weight: 700; font-size: 14px; line-height: 24px; color: #333333;">
                ― Kyle Keyes, Under the Bus
            </div>
            <div class="d-flex">
                <div class="ms-auto" style="font-family: Helvetica, sans-serif; font-weight: 400; font-size: 11px; line-height: 14px; color: #00635d;">
                    118 likes 
                </div>
            </div>
            <hr>
            <div class="d-flex">
                <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/authors/1487896613i/4868409._CR12,0,200,200_.jpg" style="border-radius: 50%; width: 20%; object-fit: contain;" >
                <div class="ms-2" style="font-family: Georgia, serif; font-weight: 400; font-size: 14px; line-height: 24px; color: #181818;">
                    “ Please. Forgive me. One more chance, Blaire. I want this. I want you. ”
                </div>
            </div>
            <div style="font-family: Helvetica, sans-serif; font-weight: 700; font-size: 14px; line-height: 24px; color: #333333;">
                ― Kyle Keyes, Under the Bus
            </div>
            <div class="d-flex">
                <div class="ms-auto" style="font-family: Helvetica, sans-serif; font-weight: 400; font-size: 11px; line-height: 14px; color: #00635d;">
                    118 likes 
                </div>
            </div>
            <div class="d-flex">
                <div class="ms-auto mt-4" style="font-family: Helvetica, Arial, sans-serif; font-weight: 700; font-size: 13px; line-height: 18px; color: #00635d;">
                    more quotes...
                </div>
            </div>
            
        </div>
    </div>
</div>