<%- include('layout') %>

<title><%= title %></title>
<%- include('navbar') %>

<div class="container" style="width: 70%;">
    <div class="row">
        <div class="col-md-8">
            <div class="mt-3" style="font-family: Georgia, 'Times New Roman', serif; font-weight: 700; font-size: 24px; line-height: 24px; color: #382110;">My Recent Posts</div>

            <% if (comments.length === 0) { %>
                <div class="mt-3 no-comments">
                    You have no comments.
                </div>
            <% } else { %>
                <% comments.forEach(comment => { %>
                    <div style="background-color: #f4f1ea;" class="mt-3 ms-2 d-flex p-2 justify-content-between align-items-center">
                        <div>
                            <a class="comment-author" href="/user/<%= comment.reviewAuthorId %>/mybooks">
                                <%= comment.reviewAuthorName %>'s
                            </a>

                            <span class="review-of"> review of </span>
            
                            <a href="/book/<%= comment.bookId %>/details" style="text-decoration: none; color: #00635d;">
                                <span class="comment-title"><%= comment.bookTitle %>.</span>
                            </a>
                        </div>

                        <div class="comment-date"> <%= formatDate(comment.commentCreatedAt) %></div>
                    </div>

                    <div class="row ms-1">
                        <div class="col-2 mt-1">
                            <img src="<%= comment.bookImage %>" alt="<%= comment.bookTitle %>" style="width: 100%; height: auto;">
                        </div>
                        <div class="col-9 mt-1 ms-2 ">
                            <div class="comment-content">
                                <%- comment.commentContent %>
                            </div>
                            <a class="text-decoration-none comment-delete" href="#" onclick="confirmDelete('<%= comment.commenterId %>', '<%= comment.bookId %>')">delete</a>
                        </div>
                    </div>
                <% }); %>
            <% } %>
        </div>
        <div class="col-md-4 mt-5">
            <a href="/likes/list" class="items-liked">
                items <%= firstName %> liked
            </a>
        </div>
    </div>
</div>
<%- include('footer') %>
<script>
    function confirmDelete(commenterId, bookId) {
        if (confirm("Are you sure you want to delete this comment?")) {
            fetch(`/comments/delete`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ commenterId, bookId })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    window.location.reload();
                } else {
                    alert('Error deleting comment.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Error deleting comment.');
            });
        }
    }
</script>
