<%- include('layout') %>

<title><%= title %></title>
<%- include('navbar') %>

<div class="container " style="width: 70%;">
<div class="row">
    <div class="col-md-12" style="font-family: Georgia, serif;">
        <div class="row">
            <div class="col-3 ms-auto mt-2">
                <div class="search-filter-container">
                    <div class="search-input">
                        <i class="bi bi-search"></i>
                        <input type="text" placeholder="Search books">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
           
            <div class="col-10">
                <div class="row">
                    <div class="col-2">
                        <div style="font-family: Helvetica, Arial, sans-serif; font-weight: 400; font-size: 12px; line-height: 18px; color: #00635d;">
                            Cover
                        </div>
                    </div>
                    <div class="col-2">
                        <div style="font-family: Helvetica, Arial, sans-serif; font-weight: 400; font-size: 12px; line-height: 18px; color: #00635d;">
                            Title
                        </div>
                    </div>
                    <div class="col-2">
                        <div style="font-family: Helvetica, Arial, sans-serif; font-weight: 400; font-size: 12px; line-height: 18px; color: #00635d;">
                            Authur
                        </div>
                    </div>
            
                    <div class="col-3">
                        <div style="font-family: Helvetica, Arial, sans-serif; font-weight: 400; font-size: 12px; line-height: 18px; color: #00635d;">
                            review
                        </div>
                    </div>
                    
                    <hr>
                    <div class="row">
                        <div class="col-12">
                             <div class="row">
                                <% books.forEach(book => { %>
                                <div class="col-2">
                                    <img src="<%= book.image %>" alt="<%= book.title %>" style="width: 100%;">
                                </div>
                                
                                <div class="col-2">
                                    <div style="font-family: Helvetica, Arial, sans-serif; font-weight: 400; font-size: 12px; line-height: 18px; color: #00635d;">
                                        <%= book.title %>
                                    </div>
                                </div>
                                
                                <div class="col-2">
                                    <div style="font-family: Helvetica, Arial, sans-serif; font-weight: 400; font-size: 12px; line-height: 18px; color: #00635d;">
                                        <%= book.author %>
                                    </div>
                                </div>
                                
                                <div class="col-5">
                                    <div style="font-family: Helvetica, Arial, sans-serif; font-weight: 400; font-size: 12px; line-height: 18px; color: #00635d;">
                                        <%- book.userReview %>
                                    </div>
                                </div>
                                
                                <div class="col-1">
                                    <div style="font-family: Helvetica, Arial, sans-serif; font-weight: 400; font-size: 12px; line-height: 18px; color: #00635d;">
                                        x
                                    </div>
                                </div>
                                <hr>
                                <% }) %>
                                
                                
                             </div>       
                        </div>
                    </div>
                </div>
            </div>    
        </div>
        
        
        
    </div>
</div>
</div>