<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(244,241,234);">
    <div class="container">
        <a class="navbar-brand fs-3 custom-navbar-brand" href="/myreads">my<span class="fw-bold">reads</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link my-books fw-bold" href="<%= loggedIn ? '/mybooks' : '/signup' %>">My Books</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle my-books fw-bold" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Browse
                    </a>
                    <div class="dropdown-menu dropdown-large" aria-labelledby="navbarDropdown">
                        <div class="row">
                            <div class="col-md-6 left-menu" style="background-color: #ffffff;">
                                <h6 class="dropdown-header">BROWSE</h6>
                                <a class="dropdown-item" href="/new_releases">New Releases</a>
                            </div>
                            <div class="col-md-6 right-menu" style="background-color: #f6f6f6;">
                                <h6 class="dropdown-header"><%= loggedIn ? 'FAVORITE GENRES' : 'GENRES' %></h6>
                                <% if (loggedIn && user && user.selectedGenres) { %>
                                    <% user.selectedGenres.forEach(genre => { %>
                                        <a class="dropdown-item" href="/genre/<%= genre %>"><%= genre %></a>
                                    <% }) %>
                                <% } else { %>
                                    <a class="dropdown-item" href="/genre/Art">Art</a>
                                    <a class="dropdown-item" href="/genre/Classics">Classics</a>
                                    <a class="dropdown-item" href="/genre/Contemporary">Contemporary</a>
                                    <a class="dropdown-item" href="/genre/Crime">Crime</a>
                                    <a class="dropdown-item" href="/genre/Fiction">Fiction</a>
                                    <a class="dropdown-item" href="/genre/Historical Fiction">Historical Fiction</a>
                                    <a class="dropdown-item" href="/genre/History">History</a>
                                    <a class="dropdown-item" href="/genre/Humor and Comedy">Humor and Comedy</a>
                                    <a class="dropdown-item" href="/genre/Nonfiction">Nonfiction</a>
                                    <a class="dropdown-item" href="/genre/Religion">Religion</a>
                                    <a class="dropdown-item" href="/genre/Science">Science</a>
                                    <a class="dropdown-item" href="/genre/Thriller">Thriller</a>
                                <% } %>
                            </div>
                        </div>
                        
                    </div>
                </li>

                
                
            </ul>
            <form class="d-flex ms-4 position-relative search" action="/search" method="get" style="flex-grow: 1;">
                <input id="search-input" class="form-control" type="search" name="query" placeholder="Search books" aria-label="Search" style="width: 50%;">
                <span class="position-absolute end-50 top-50 translate-middle-y me-3">
                    <i class="bi bi-search"></i>
                </span>
                <div id="suggestions" class="position-absolute bg-white border mt-1" style="width: 50%; display: none;">
                    <!-- Suggestions will be injected here -->
                </div>
            </form>
            <% if (loggedIn) { %>
                <div class="dropdown me-5">
                    <% if (user && user.profilePhoto) { %>
                        <img src="<%= user.profilePhoto %>" alt="Profile Photo" class="rounded-circle fs-3" style="width: 50px; height: 50px; object-fit: cover;" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <% } else { %>
                        <i class="bi bi-person-circle fs-3" style="color: #372213;" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"></i>
                    <% } %>
                    <ul class="dropdown-menu me-5" aria-labelledby="userDropdown">
                        <h6 class="dropdown-header loggedin-navbar-dropdown-name"> <%= firstName %> <%= lastName %></h6>
                        <li><a class="dropdown-item loggedin-navbar-dropdown" href="/comments/list">Comments</a></li>
                        <li><a class="dropdown-item loggedin-navbar-dropdown" href="/edit_favorite_genre" >Favorite genres</a></li>
                        <hr style="margin-top: 5px; margin-bottom: 5px;">
                        <li><a class="dropdown-item loggedin-navbar-dropdown" href="/account_settings" >Account settings</a></li>
                        <li>
                            <form id="logoutForm" action="/logout" method="POST">
                                <button type="submit" class="dropdown-item loggedin-navbar-dropdown">Sign out</button>
                            </form>
                        </li>
                    </ul>
                </div>
            <% } %>
        </div>
    </div>
</nav>

<script>
    document.getElementById('search-input').addEventListener('input', function() {
        const query = this.value;
        const suggestions = document.getElementById('suggestions');
        
        if (!query.trim()) {
            suggestions.innerHTML = ''; // Clear suggestions when query is empty
            suggestions.style.display = 'none';
            return;
        }

        fetch(`/search/json?query=${query}`)
            .then(response => response.json())
            .then(data => {
                suggestions.innerHTML = '';
                if (data.length > 0) {
                    data.forEach(book => {
                        const suggestionItem = document.createElement('div');
                        suggestionItem.classList.add('suggestion-item', 'p-2');
                        suggestionItem.innerHTML = `
                            <div class="d-flex">
                                <img src="${book.image}" alt="${book.title}" class="me-2" style="width: 50px; height: auto;">
                                <div>
                                    <strong>${book.title}</strong><br>
                                    <small>by ${book.author}</small>
                                </div>
                            </div>
                        `;
                        suggestionItem.addEventListener('click', function() {
                            window.location.href = `/book/${book._id}/details`;
                        });
                        suggestions.appendChild(suggestionItem);
                    });
                    suggestions.style.display = 'block';
                } else {
                    suggestions.style.display = 'none';
                }
            })
            .catch(error => console.error('Error fetching search results:', error));
    });

    // Allow form submission for full search
    document.querySelector('.search').addEventListener('submit', function(event) {
        const query = document.getElementById('search-input').value;
        if (!query.trim()) {
            event.preventDefault();
            return false;
        }
    });
</script>
