<%- include('layout') %>

<title><%= title %></title>
<%- include('navbar') %>

<div class="container " style="width: 70%;">
<div class="row">
    <div class="col-12">
        <a href="<%= `/book/${book._id}/details` %>" class="review_title_link" style="font-family: Georgia, 'Times New Roman', serif; font-weight: 700; font-size: 20px; line-height: 24px; color: #00635d; text-decoration: none;">
            <%= book.title %>
        </a>
        
        <div class="row align-items-center mt-2">
            <div class="col-4 col-md-2">
                <img src="<%= book.image %>" alt="<%= book.title %>" class="img-fluid rounded">
            </div>
            <div class="col-8 col-md-10" style="font-family: Georgia, serif; font-weight: 400; font-size: 14px; line-height: 21px; color: #333333;">
                <p class="text-muted mb-0"> <%= book.author %></p>
            </div>
        </div>
        <hr>
        <div style="font-family: Helvetica, sans-serif; font-weight: 400; font-size: 14px; line-height: 18px; color: #181818;">
            What did you think?
        </div>
        <form id="review-form" action="/save_review_content/<%= bookId %>" method="POST" onsubmit="return validateForm()">
            <div class="form-group mt-2">
                <textarea id="review" name="content" class="form-control" rows="4" placeholder="Enter your review" ><%- review %></textarea>
            </div>
            <hr>
            <button type="submit" class="btn message-btn" style="background-color: #382110; color: #ffffff;">
                Post
            </button>
        </form>
        
        <a href="#" class="mt-2 me-2 preview-link" style="font-family: Helvetica, sans-serif; font-weight: 400; font-size: 12px; line-height: 18px; color: #999999; text-decoration: none;">
            preview
        </a>
        
    </div>
<script>
        // Initialize TinyMCE
        tinymce.init({
            selector: '#review',
            plugins: 'link image advlist autolink lists charmap print preview hr anchor pagebreak',
            toolbar: 'bold italic underline strikethrough | blockquote | bullist numlist | link image',
        tinycomments_mode: 'embedded',
        tinycomments_author: 'Author name',
        mergetags_list: [
            { value: 'First.Name', title: 'First Name' },
            { value: 'Email', title: 'Email' },
        ],
        ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant"))
    });

</script>

<script>
    // Function to validate the form before submission
    function validateForm() {
        // Trigger TinyMCE to save content to the textarea
    tinymce.triggerSave();
    
        // Get the value of the textarea
        const reviewContent = document.getElementById('review').value;
        
        // Trim whitespace and check if empty
        if (!reviewContent.trim()) {
            // Show alert if textarea is empty
            alert('Please fill in the required field.');
            return false; // Prevent form submission
        }
        return true; // Allow form submission
    }
</script>