<%- include('layout') %>

<title><%= title %></title>
<%- include('navbar') %>

<div class="container " style="width: 70%;">
<div class="row">
    <div class="col-12">
        <a href="<%= `/book/${book._id}/details` %>" class="review_title_link write-review-title">
            <%= book.title %>
        </a>
        
        <div class="row align-items-center mt-2">
            <div class="col-4 col-md-2">
                <img src="<%= book.image %>" alt="<%= book.title %>" class="img-fluid rounded">
            </div>
            <div class="col-8 col-md-10 write-review-author">
                <p class="text-muted mb-0"> <%= book.author %></p>
            </div>
        </div>
        <hr>
        <div style="font-family: Helvetica, sans-serif; font-weight: 400; font-size: 14px; line-height: 18px; color: #181818;">
            What did you think?
        </div>
        <form id="review-form" action="/save_review_content/<%= bookId %>" method="POST" onsubmit="return validateForm()">
            <div class="form-group mt-2">
                <textarea id="review" name="content" class="form-control" rows="4" placeholder="Enter your review" ><%- review %></textarea>
            </div>
            <hr>
            <button type="submit" class="btn message-btn" style="background-color: #382110; color: #ffffff;">
                Post
            </button>
        </form>
    </div>
<script>
        tinymce.init({
            selector: '#review',
            plugins: 'link advlist autolink lists charmap print preview hr anchor pagebreak',
            toolbar: 'bold italic underline strikethrough | blockquote | bullist numlist | link',
        tinycomments_mode: 'embedded',
        tinycomments_author: 'Author name',
        mergetags_list: [
            { value: 'First.Name', title: 'First Name' },
            { value: 'Email', title: 'Email' },
        ],
        ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant"))
    });

</script>

<script>
    function validateForm() {
        // Trigger TinyMCE to save content to the textarea
    tinymce.triggerSave();
    
        const reviewContent = document.getElementById('review').value;
        
        if (!reviewContent.trim()) {
            alert('Please fill in the required field.');
            return false;
        }
        return true;
    }
</script>