<%- include('../layout') %>

<title><%= title %></title>
    <nav class="navbar">
        <div class="container-fluid">
            <a class="navbar-brand mx-auto fs-1" href="/myreads">my<span class="fw-bold">reads</span></a>
        </div>
    </nav>
    <div class="d-flex">
        <p class="create-account text-center fs-1 fw-bold mx-auto forgot-password-create-account">Password assistance</p>
    </div>
    <div class="d-flex">
        <p class="text-center mx-auto" style="width: 290px; color: #111127;">
            Enter the email address associated with your Myreads account, then click Continue.
        </p>
    </div>
    
    <div id="register-error-message" class="mx-auto p-2 fw-bold" style="display: <% if(errors && errors.length > 0) { %>block<% } else { %>none<% } %>;">
        <% if(errors && errors.length > 0) { %>
            <ul>
                <% errors.forEach(error => { %>
                    <li><%= error %></li>
                <% }); %>
            </ul>
        <% } %>
    </div>
    <div class="container d-flex flex-column" style="width: 290px;">
        <form class="text-center" action="/forgot_password" method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="mb-3 d-flex flex-column">
                <label for="email" class="form-label register-form-label me-auto">Email</label>
                <input type="email" class="form-control register-border-custom" id="email" name="email" style="border-radius: 50px;">
            </div>
            <div class="d-flex">
                <p class="me-auto" style="color: #111127;">
                    Enter the characters you see
                </p>
            </div>
            <!-- Add the reCAPTCHA widget container -->
        <div class="g-recaptcha" data-sitekey="<%= siteKey %>" data-callback="onSubmit" data-size="invisible"></div>
        <button type="button" class="register-custom-button mb-5" onclick="submitForm()">Continue</button>
        </form>
    </div>

    <script>
        // Function to handle form submission
        function submitForm() {
            // Execute reCAPTCHA
            grecaptcha.execute();
        }
    
        // Callback function to handle reCAPTCHA success
        function onSubmit(token) {
            // Proceed with form submission
            document.querySelector('form').submit();
        }
    </script>
    